
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  include author
  include date
  h1= page.title
  p.date
    | #{ "Written on " }
    mixin date(page.date)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog


