
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block content
  h1= page.title
  div.date
    span= moment.utc(page.date).format('DD. MMMM YYYY')
  article.article
    section.content!= page.html

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog


